<header class="page-width grid">
    <div class="header-link-list grid__item small--hide medium-up--one-third">
        {%- if section.settings.link-1 != blank -%}
        <a href="{{section.settings.link-1}}">Parfum erstellen</a>
        {%- endif -%}
        {%- if section.settings.link-2 != blank -%}
        <a href="{{section.settings.link-2}}">Info</a>
        {%- endif -%}
        {%- if section.settings.link-3 != blank -%}
        <a href="{{section.settings.link-3}}">Über uns</a>
        {%- endif -%}
        <div class="logo-wrapper grid__item small-up--one-third">
            <img src="{{section.settings.logo | img_url}}" alt="">
        </div>
    </div>

</header>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>

{% if request.page_type == 'index' %}
{% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
</script>

{% endif %}
{% schema %}
{
"name": "Header",
"settings":[
{
"type": "image_picker",
"id": "logo",
"label": "Logo einfügen"
},
{
"type": "url",
"id": "link-1",
"label": "Ersten Link einfügen"
},
{
"type": "url",
"id": "link-2",
"label": "Zweiten Link einfügen"
},
{
"type": "url",
"id": "link-3",
"label": "Dritten Link einfügen"
}
]
}
{% endschema %}