<header class="grid">
  <div class="header-link-list grid__item medium--hide small--hide medium-up--one-third">
    {%- if section.settings.link-1 != blank -%}
    <a href="{{section.settings.link-1}}">Parfum erstellen</a>
    {%- endif -%}
    {%- if section.settings.link-2 != blank -%}
    <a href="{{section.settings.link-2}}">Info</a>
    {%- endif -%}
    {%- if section.settings.link-3 != blank -%}
    <a href="{{section.settings.link-3}}">Über uns</a>
    {%- endif -%}
  </div>
  <div class="grid__item medium-up--hide small--one-third" id="hamburger-button">
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="logo-wrapper grid__item one-third">
    <img src="{{section.settings.logo | img_url}}" alt="">
  </div>
  <div class="cart-wrapper grid__item one-third">
    <ul>
      <li><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
            preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4Z" />
          </svg></a>
      </li>
      <li><a href="#">
          <div id="cart-counter">{{ cart.item_count }}</div>
          <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24">
            <path fill="currentColor"
              d="M9 20c0 1.1-.9 2-2 2s-1.99-.9-1.99-2S5.9 18 7 18s2 .9 2 2zm8-2c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2s2-.9 2-2s-.9-2-2-2zm.396-5a2 2 0 0 0 1.952-1.566L21 5H7V4a2 2 0 0 0-2-2H3v2h2v11a2 2 0 0 0 2 2h12a2 2 0 0 0-2-2H7v-2h10.396z" />
          </svg>
        </a></li>
    </ul>
  </div>
  <div id="cart-sidebanner">
    <div>
      <h2>Warenkorb</h2>
      <div class="close-button"></div>
    </div>
    <div class="gratis_beilage">
      {% if cart.total_price < 50 %} <h4 class="text-center">Es fehlen noch {{ 50 | times: 1.0 | minus:
        cart.total_price |
        money_without_currency }}€
        bis zu
        deiner gratis Cremé</h4>
        {% endif %}
    </div>
    {%- for item in cart.items -%}
    <div class="cart-item-wrapper grid">
      <img src="{{ item | img_url: 'x190' }}" alt="" class="grid__item one-half">
      <div class="grid__item one-half">
        <h3>{{item.title}}</h3>
      </div>
    </div>
    {%- endfor -%}
  </div>
</header>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>

{% if request.page_type == 'index' %}
{% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
</script>

{% endif %}
{% schema %}
{
"name": "Header",
"settings":[
{
"type": "image_picker",
"id": "logo",
"label": "Logo einfügen"
},
{
"type": "url",
"id": "link-1",
"label": "Ersten Link einfügen"
},
{
"type": "url",
"id": "link-2",
"label": "Zweiten Link einfügen"
},
{
"type": "url",
"id": "link-3",
"label": "Dritten Link einfügen"
}
]
}
{% endschema %}