<div class="page-width">
    <div class="grid" style="position: relative; margin-left: 0!important" id="link-grid">
        {%- for block in section.blocks -%}
        {% if block.settings.fullscreen %}
        <div class="grid" style="position: absolute; width: 100%!important; height: 100%!important">
            <div class="grid__item small--hide medium-up--one-half">
                <p>&nbsp;</p>
            </div>
            <div class="grid__item small--hide medium-up--one-half"
                style="display: flex; align-items: center; justify-content: center">
                <img src="{{block.settings.background_image | img_url: '300x300'}}"
                    alt="{{block.settings.background_image.alt}}">
            </div>
        </div>
        {% endif %}
        <div class="grid__item {% if block.settings.fullscreen != false %}  one-whole{% else %}small--one-whole medium-up--one-half{% endif %} link-grid-item"
            style="background: linear-gradient(110deg, {{block.settings.gradient-first}}, {{block.settings.gradient-second}}); min-height: 50vh!important; padding: 10% 5%; border-radius: 20px; position: relative">
            <img src="https://cdn.shopify.com/s/files/1/0670/8769/6176/files/chris-lee-70l1tDAI6rM-unsplash-white_5.png?v=1670244805"
                alt="" style="position: absolute; left: 0; top: 0; height: 100%;width: auto">
            {% if block.settings.subtitle != blank %}
            <h4>{{block.settings.subtitle}}</h4>
            {% endif %}
            {% if block.settings.title != blank %}
            <h3 style="position: relative; z-index: 1000">{{block.settings.title}}</h3>
            {% endif %}
            {%- if block.settings.link != blank -%}
            <a class="btn" href="{{block.settings.link}}"
                style="position: relative; z-index: 1000">{{block.settings.link-text}}</a>
            {%- endif -%}
        </div>
        {%- endfor -%}
    </div>
</div>
{% schema %}
{
"name": "Link Grid",
"blocks": [{
"type": "slide",
"name": "Link Block",
"settings":[
{
"type": "text",
"id": "subtitle",
"label": "Unterüberschrift"
},
{
"type": "text",
"id": "title",
"label": "Überschrift"
},
{
"type": "color",
"id": "gradient-first",
"label": "Erste Farbe des Verlaufs"
},
{
"type": "color",
"id": "gradient-second",
"label": "Zweite Farbe des Verlaufs"
},
{
"type": "checkbox",
"id": "fullscreen",
"label": "Fullscreen?"
},
{
"type": "image_picker",
"id": "background_image",
"label": "Hintergrundbild?"
},
{
"type": "url",
"id": "link",
"label": "Link"
},
{
"type": "text",
"id": "link-text",
"label": "Link Caption"
}
]
}],
"presets":[{
"name": "Link Grid",
"category": "picture"
}]
}
{% endschema %}