<div class="page-width">
    <div class="grid" style="position: relative;">
        {%- for block in section.blocks -%}
        {% if block.settings.fullscreen %}
        <div class="grid" style="position: absolute;">
            <div class="grid__item small--hide medium-up--one-half">
                <p>&nbsp;</p>
            </div>
            <div class="grid__item small--hide medium-up--one-half">
                <img src="{{block.settings.background_image | img_url: 'large'}}"
                    alt="{{block.settings.background_image.alt}}">
            </div>
        </div>
        {% endif %}
        <div class="grid__item {%- if block.settings.fullscreen != false -%}one-whole{%- else -%}small--one-whole medium-up--one-half{%- endif -%}"
            style="background: linear-gradient(110deg, {{block.settings.gradient-first}}, {{block.settings.gradient-second}});">

            {% if block.settings.subtitle != blank %}
            <h4>{{block.settings.subtitle}}</h4>
            {% endif %}
            {% if block.settings.title != blank %}
            <h3>{{block.settings.title}}</h3>
            {% endif %}
            {%- if block.settings.link != blank -%}
            <a class="btn" href="{{block.settings.link}}">{{block.settings.link-text}}</a>
            {%- endif -%}
        </div>
        {%- endfor -%}
    </div>
</div>
{% schema %}
{
"name": "Link Grid",
"blocks": [{
"type": "slide",
"name": "Link Block",
"settings":[
{
"type": "text",
"id": "subtitle",
"label": "Unterüberschrift"
},
{
"type": "text",
"id": "title",
"label": "Überschrift"
},
{
"type": "color",
"id": "gradient-first",
"label": "Erste Farbe des Verlaufs"
},
{
"type": "color",
"id": "gradient-second",
"label": "Zweite Farbe des Verlaufs"
},
{
"type": "checkbox",
"id": "fullscreen",
"label": "Fullscreen?"
},
{
"type": "image_picker",
"id": "background_image",
"label": "Hintergrundbild?"
},
{
"type": "url",
"id": "link",
"label": "Link"
},
{
"type": "text",
"id": "link-text",
"label": "Link Caption"
}
]
}],
"presets":[{
"name": "Link Grid",
"category": "picture"
}]
}
{% endschema %}